---
import Wrapper from "@layouts/Wrapper.astro";
import Image from "astro/components/Image.astro";
import Buisness from "@assets/busines-man.png";
import Me from "@assets/me.png";
import CardUp from "@components/CardUp.astro";

---
<section >
    <Wrapper hasPadding={true}>
        <h2 class="text-center text-5xl my-4">Tu Landing Page</h2>
        <p class="mx-auto mt-6 mb-6 md:mb-8 max-w-2xl text-center text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">Una landing page es una página web diseñada específicamente para convertir visitantes en clientes, para más detalles preciona en los botones de <b>Ver más</b></p>
        <div class="grid-parent">
            <div class="col1 bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5">
                <CardUp
                    title="Lista en 1 Semana"
                    content="Tu landing page estará lista en solo una semana, y por supuesto, podrás revisar el diseño y solicitar cambios antes del lanzamiento."
                />
            </div>
            
            <div class="col2 flex flex-col-reverse sm:flex-row  gap-4  bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5 pb-0">
                <div class="w-2/3 mx-auto sm:m-0 sm:min-w-1/2 flex flex-col justify-end h-full">
                    <Image class="w-full" src={Buisness} alt="hombre de negocios" />
                </div>
                <CardUp
                title="Presencia Profesional"
                content="Presenta tus productos y servicios de forma sólida y confiable."
                bottomPosition="-bottom-4 sm:bottom-4"
                />
                
            </div>
            <div class="col3  bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5">
                <CardUp
                title="Precio Accessible"
                content="El servicio de creación de landing pages ronda los R$400, pero con nuestro precio especial, puedes obtener una a partir de R$200."
            />
            </div>
            <div class="col4 bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5">
                <CardUp
                title="Mayor Conversion"
                content="Aumenta tus conversiones transformando visitantes en clientes al dirigir a tus usuarios de forma clara y efectiva hacia la acción que deseas."
                />
            </div>
            <div class="col5 bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5">
                <CardUp
                title="Tu estilo"
                content="Tu Landing Page reflejará tu estilo y el de tu negocio, ayudando a reforzar el sentido de marca."
                />
            </div>

            <div class="col6 flex flex-col sm:flex-row  gap-4 bg-gradient-to-br from-blue-300 to-cyan-200 rounded-lg shadow-md shadow-slate-400 p-5 pb-0">
                <CardUp
                title="Soporte Personalizado"
                content="Yo mismo estaré a tu disposición para brindarte el soporte necesario."
                bottomPosition="-bottom-4 sm:bottom-4"
                
                />

                <div class="w-2/3 mx-auto sm:m-0 sm:min-w-1/2  flex flex-col justify-end h-full">
                    <Image class="w-full" src={Me} alt="desarrollador web" />
                </div>
                
            </div>
        </div>
    </Wrapper> 
</section>

<style>
.grid-parent {
    display: grid;
    gap: 0.75rem;
    grid-auto-rows: minmax(300px, auto);
}

@media (min-width: 40rem) and (max-width: 64rem) {

    .grid-parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
        

    .col2 {
        grid-column: span 2 / span 2;
    }

    .col3 {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .col4 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .col5 {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .col6 {
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 2;
    }
} 



@media (min-width: 64rem) {

    .grid-parent {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .col2 {
        grid-column: span 2 / span 2;
    }

    .col3 {
        grid-column-start: 4;
    }

    .col4 {
        grid-row-start: 2;
    }

    .col5 {
        grid-row-start: 2;
    }

    .col6 {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
    }
}
</style>

<script>
    const cards = Array.from(document.querySelectorAll('.card-up__wrapper'));
    cards.forEach(cardWrapper => {
        const card = cardWrapper.querySelector('.card-up');
        const toogleBtn = cardWrapper.querySelector('.card-up__toogle');

        if(toogleBtn && card) {
            toogleBtn.addEventListener('click', function (e) {
                card.classList.toggle("active");
                toogleBtn.classList.toggle("active");
            })
        } 
    })
</script>