---
import Wrapper from "@layouts/Wrapper.astro"
---
<Wrapper hasPadding>
<div class="relative isolate bg-price-section rounded-xl">
    <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
      <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-4xl text-center">
      <p class="mt-2 title text-5xl font-semibold  sm:text-5xl">Elige el plan perfecto para ti</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">Escoge el plan que mejor encage con el proposito de tu sitio y el tiempo que quieres este al aire</p>
    <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
      <div class="rounded-3xl rounded-t-3xl bg-white p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl">
        <h3 id="tier-hobby" class="text-base/7  ">Landing Page mediana</h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          <span class="text-5xl font-semibold tracking-tight ">R$200</span>
          <span class="text-base text-gray-400">o 30 USDT</span>
        </p>
        <p class="mt-6 text-base/7 text-gray-600">Ideal si quieres promocionar algo por tiempo limitado, como un evento, un curso, el lanzamiento de un producto de edición limitada o incluso si quieres hacer una invitación con mucho estilo.</p>
        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Diseño web para telefonos, tablets y computadores
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            1 Mes de Hosting + Subdominio aleatorio Gratis. 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Sitio web de hasta 3 secciones
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Redacción de Contenido para el Sitio
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Instalación del sitio en cualquier Hosting, caso decida contratar uno.
          </li>
        </ul>
        <a target="_blank" href="https://wa.me/5565992823891?text=Hola%2C%20estuve%20revisando%20su%20sitio%20web%20y%20me%20gustar%C3%ADa%20contratar%20el%20servicio%20de%20creaci%C3%B3n%20de%20una%20**Landing%20Page%20Mediana**." aria-describedby="Comprar servicios de diseño web" class="mt-8 flex items-center gap-3 justify-center rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-indigo-600 ring-1 ring-indigo-200 ring-inset hover:ring-indigo-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">
          <svg class="size-5" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.0574 5.29531C24.971 2.20156 20.8607 0.5 16.4926 0.5C7.47656 0.5 0.139955 7.83661 0.139955 16.8527C0.139955 19.7328 0.891295 22.5467 2.32031 25.029L0 33.5L8.66987 31.2239C11.0565 32.5277 13.7451 33.2127 16.4853 33.2127H16.4926C25.5013 33.2127 33 25.8761 33 16.86C33 12.492 31.1437 8.38906 28.0574 5.29531ZM16.4926 30.4578C14.0471 30.4578 11.6531 29.8022 9.56853 28.5647L9.075 28.2701L3.93348 29.6181L5.30357 24.6018L4.97946 24.0862C3.61674 21.9205 2.90223 19.4234 2.90223 16.8527C2.90223 9.36138 9.00134 3.26228 16.5 3.26228C20.1315 3.26228 23.542 4.67656 26.1054 7.24732C28.6687 9.81808 30.2451 13.2286 30.2377 16.86C30.2377 24.3587 23.9839 30.4578 16.4926 30.4578ZM23.9471 20.2779C23.542 20.0717 21.531 19.0846 21.1554 18.952C20.7797 18.8121 20.5071 18.7458 20.2346 19.1583C19.9621 19.5708 19.1813 20.4842 18.9382 20.7641C18.7025 21.0366 18.4594 21.0734 18.0542 20.8672C15.6529 19.6665 14.0766 18.7237 12.4929 16.0056C12.073 15.2837 12.9127 15.3353 13.6935 13.7737C13.8261 13.5011 13.7598 13.2654 13.6567 13.0592C13.5536 12.8529 12.7359 10.842 12.3971 10.0243C12.0656 9.22879 11.7268 9.33929 11.4763 9.32455C11.2406 9.30982 10.9681 9.30982 10.6955 9.30982C10.423 9.30982 9.98103 9.41295 9.60536 9.81808C9.22969 10.2306 8.17634 11.2176 8.17634 13.2286C8.17634 15.2395 9.64219 17.1842 9.84107 17.4567C10.0473 17.7292 12.7212 21.8542 16.8241 23.6295C19.417 24.7491 20.4335 24.8449 21.7299 24.6533C22.5181 24.5355 24.146 23.6663 24.4848 22.7087C24.8237 21.7511 24.8237 20.9335 24.7205 20.7641C24.6248 20.5799 24.3522 20.4768 23.9471 20.2779Z" fill="CurrentColor"/>
        </svg>
          Comprar Plan
        </a>
      </div>

      <div class="relative rounded-3xl bg-[#021455] p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
        <h3 id="tier-enterprise" class="text-base/7  text-action-yellow">Landing Page Grande</h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          <span class="text-5xl font-semibold tracking-tight text-white">R$450</span>
          <span class="text-base text-gray-400">o 65 USDT</span>
        </p>
        <p class="mt-6 text-base/7 text-gray-300">Perfecto para negocios, empresas o profesionales que buscan causar una buena impresión en sus clientes, aumentar sus niveles de conversión o tener una presencia más duradera en la red.</p>
        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
            <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                Diseño web para telefonos, tablets y computadores
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                1 Año de Dominio Gratis a elección
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                <span>3 Meses de Hosting Gratis. <span>A partir del 4 Més paga R$18/mes.</span></span>   
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                Sitio web de hasta 6 secciones
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                Redacción de Contenido para el Sitio
              </li>
    
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
                Instalación del sitio en cualquier Hosting, caso decida contratar otro Hosting.
              </li>


          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Pequeños cambios en el sitio después de ser entregado Gratis. Consultar. 
          </li>
          
        </ul>
        <a target="_blank" href="https://wa.me/5565992823891?text=Hola%2C%20estuve%20revisando%20su%20sitio%20web%20y%20me%20gustar%C3%ADa%20contratar%20el%20servicio%20de%20creaci%C3%B3n%20de%20una%20**Landing%20Page%20Grande**." aria-describedby="tier-enterprise" class="mt-8 flex items-center justify-center gap-3 rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">
          <svg class="size-5" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.0574 5.29531C24.971 2.20156 20.8607 0.5 16.4926 0.5C7.47656 0.5 0.139955 7.83661 0.139955 16.8527C0.139955 19.7328 0.891295 22.5467 2.32031 25.029L0 33.5L8.66987 31.2239C11.0565 32.5277 13.7451 33.2127 16.4853 33.2127H16.4926C25.5013 33.2127 33 25.8761 33 16.86C33 12.492 31.1437 8.38906 28.0574 5.29531ZM16.4926 30.4578C14.0471 30.4578 11.6531 29.8022 9.56853 28.5647L9.075 28.2701L3.93348 29.6181L5.30357 24.6018L4.97946 24.0862C3.61674 21.9205 2.90223 19.4234 2.90223 16.8527C2.90223 9.36138 9.00134 3.26228 16.5 3.26228C20.1315 3.26228 23.542 4.67656 26.1054 7.24732C28.6687 9.81808 30.2451 13.2286 30.2377 16.86C30.2377 24.3587 23.9839 30.4578 16.4926 30.4578ZM23.9471 20.2779C23.542 20.0717 21.531 19.0846 21.1554 18.952C20.7797 18.8121 20.5071 18.7458 20.2346 19.1583C19.9621 19.5708 19.1813 20.4842 18.9382 20.7641C18.7025 21.0366 18.4594 21.0734 18.0542 20.8672C15.6529 19.6665 14.0766 18.7237 12.4929 16.0056C12.073 15.2837 12.9127 15.3353 13.6935 13.7737C13.8261 13.5011 13.7598 13.2654 13.6567 13.0592C13.5536 12.8529 12.7359 10.842 12.3971 10.0243C12.0656 9.22879 11.7268 9.33929 11.4763 9.32455C11.2406 9.30982 10.9681 9.30982 10.6955 9.30982C10.423 9.30982 9.98103 9.41295 9.60536 9.81808C9.22969 10.2306 8.17634 11.2176 8.17634 13.2286C8.17634 15.2395 9.64219 17.1842 9.84107 17.4567C10.0473 17.7292 12.7212 21.8542 16.8241 23.6295C19.417 24.7491 20.4335 24.8449 21.7299 24.6533C22.5181 24.5355 24.146 23.6663 24.4848 22.7087C24.8237 21.7511 24.8237 20.9335 24.7205 20.7641C24.6248 20.5799 24.3522 20.4768 23.9471 20.2779Z" fill="CurrentColor"/>
        </svg>
          Comprar Plan
        </a>
      </div>
    </div>
  </div>
</Wrapper>
  
