<a class="px-6 hover:scale-105 transition-transform duration-200 py-3 rounded-full flex items-center text-[#000633] gap-2  relative z-20 bg-gradient-to-b from-action-yellow to-action-yellow-dark" 
target="_blank"
href="https://wa.me/5565992823891?text=Hola%2C%20le%20escribo%20en%20relaci%C3%B3n%20a%20la%20oferta%20de%20creaci%C3%B3n%20de%20sitio%20web%20personalizado%20por%20R%24200.%20Estoy%20interesado%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n.">
    <slot />
</a>