---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />


		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
	
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="title" content="Creación de Sitio Web">
		<meta name="description" content="¡Oferta exclusiva! Crea tu sitio web a un precio especial por tiempo limitado. No pierdas esta oportunidad">

		<meta property="og:image" content="https://promotional-landing.keinermendoza.com/meta-image-sm.jpg" />
		<meta property="og:title" content="Creación de Sitio Web">
		<meta property="og:description" content="¡Oferta exclusiva! Crea tu sitio web a un precio especial por tiempo limitado. No pierdas esta oportunidad">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://promotional-landing.keinermendoza.com">
		<title>Creación de Sitio Web</title>
	</head>
	<body class="text-blue-dark">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
